<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Creche Planning</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
        <script src="/com_serveur.js" defer></script>
        <script src="/popup.js" defer></script>
    </head>
<body>

    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <a id="lien" href="/">Accueil</a>
                <li class="menu-deroulant"><a href="#">Planning</a>
                    <ul class="sous">
                        <a id="lien" href="#"><span class="hover-underline-animation">Planning enfants</span></a>
                        <a id="lien" href="#"><span class="hover-underline-animation">Planning employes</span></a>
                    </ul>
                </li>
                <% if (profile != undefined) { %>
                    <a id="lien" href="/employes">Employés</a>
                    <a id="lien" href="/enfants">Enfants</a>
                    <div id="profile-container" class="profile-container">
                        <p><%= profile.username %></p>
                        <div class="popup" id="popup" style="display: none;">
                            <a id="profil" href="/inventaire"><span class="hover-underline-animation">Profil</span></a>
                            <a id="deconnexion" href="#" onclick="decoProfile()"><span class="hover-underline-animation">Sign out</span></a>
                        </div>
                    </div>
                <% } else { %>
                    <a id="lien" href="#">Employés</a>
                    <a id="lien" href="#">Enfants</a>
                    <div class="log-container">
                        <a id="loginButton" class="case-button">LogIn</a>
                    </div>
                <% } %>
            </ul>
        </nav>
    </header>

    <div class="add">
        <button id="addEnfantButton">Ajouter un enfant</button>
    </div>
    

    <div id="addEnfantForm" style="display: none;">
        <form id="enfantForm" action="/addChild" method="post">
            <label for="firstname">Prénom :</label>
            <input type="text" id="firstname" name="firstname" placeholder="Prénom" required>
    
            <label for="lastname">Nom :</label>
            <input type="text" id="lastname" name="lastname" placeholder="Nom" required>
    
            <label for="age">Âge :</label>
            <input type="number" id="age" name="age" placeholder="Âge" required>
    
            <!-- Jours de garde -->
            <label>Jours de garde :</label>
            <div>
                <div class="JG">
                    <label for="daycareMonday">
                        <input type="checkbox" id="daycareMonday" name="daycareDays[]" value="Lundi">Lundi
                    </label>
                    <div>
                        <input type="text" id="daycareHoursMonday" name="daycareHours[]" placeholder="HH:mm-HH:mm">
                    </div>
                </div>
    
                <div class="JG">
                    <label for="daycareTuesday">
                        <input type="checkbox" id="daycareTuesday" name="daycareDays[]" value="Mardi">Mardi
                    </label>
                    <div>
                        <input type="text" id="daycareHoursTuesday" name="daycareHours[]" placeholder="HH:mm-HH:mm">
                    </div>
                </div>
    
                <div class="JG">
                    <label for="daycareWednesday">
                        <input type="checkbox" id="daycareWednesday" name="daycareDays[]" value="Mercredi">Mercredi
                    </label>
                    <div>
                        <input type="text" id="daycareHoursWednesday" name="daycareHours[]" placeholder="HH:mm-HH:mm">
                    </div>
                </div>
    
                <div class="JG">
                    <label for="daycareThursday">
                        <input type="checkbox" id="daycareThursday" name="daycareDays[]" value="Jeudi">Jeudi
                    </label>
                    <div>
                        <input type="text" id="daycareHoursThursday" name="daycareHours[]" placeholder="HH:mm-HH:mm">
                    </div>
                </div>
    
                <div class="JG">
                    <label for="daycareFriday">
                        <input type="checkbox" id="daycareFriday" name="daycareDays[]" value="Vendredi">Vendredi
                    </label>
                    <div>
                        <input type="text" id="daycareHoursFriday" name="daycareHours[]" placeholder="HH:mm-HH:mm">
                    </div>
                </div>
            </div>
    
            <button type="submit">Ajouter</button>
        </form>
    </div>
    

    <div id="editEnfantForm" style="display: none;">
        <form id="enfantForm" action="/editChild" method="post">
            <!-- Les champs du formulaire -->
            <input type="hidden" id="editChildId" name="editChildId">
    
            <label for="editFirstname">Prénom :</label>
            <input type="text" id="editFirstname" name="editFirstname" required>
    
            <label for="editLastname">Nom :</label>
            <input type="text" id="editLastname" name="editLastname" required>
    
            <label for="editAge">Âge :</label>
            <input type="number" id="editAge" name="editAge" required>
    
            <label>Jours de garde :</label>
            <div class="check">
                <input type="checkbox" id="editDaycareMonday" name="editDaycareDays[]" value="1">
                <label for="editDaycareMonday">Lundi</label>
                <input type="text" id="editDaycareHoursMondayStart" name="editDaycareHoursStart[]" placeholder="HH:mm">
                <input type="text" id="editDaycareHoursMondayEnd" name="editDaycareHoursEnd[]" placeholder="HH:mm">
            </div>
    
            <div class="check">
                <input type="checkbox" id="editDaycareTuesday" name="editDaycareDays[]" value="2">
                <label for="editDaycareTuesday">Mardi</label>
                <input type="text" id="editDaycareHoursTuesdayStart" name="editDaycareHoursStart[]" placeholder="HH:mm">
                <input type="text" id="editDaycareHoursTuesdayEnd" name="editDaycareHoursEnd[]" placeholder="HH:mm">
            </div>
    
            <div class="check">
                <input type="checkbox" id="editDaycareWednesday" name="editDaycareDays[]" value="3">
                <label for="editDaycareWednesday">Mercredi</label>
                <input type="text" id="editDaycareHoursWednesdayStart" name="editDaycareHoursStart[]" placeholder="HH:mm">
                <input type="text" id="editDaycareHoursWednesdayEnd" name="editDaycareHoursEnd[]" placeholder="HH:mm">
            </div>
    
            <div class="check">
                <input type="checkbox" id="editDaycareThursday" name="editDaycareDays[]" value="4">
                <label for="editDaycareThursday">Jeudi</label>
                <input type="text" id="editDaycareHoursThursdayStart" name="editDaycareHoursStart[]" placeholder="HH:mm">
                <input type="text" id="editDaycareHoursThursdayEnd" name="editDaycareHoursEnd[]" placeholder="HH:mm">
            </div>
    
            <div class="check">
                <input type="checkbox" id="editDaycareFriday" name="editDaycareDays[]" value="5">
                <label for="editDaycareFriday">Vendredi</label>
                <input type="text" id="editDaycareHoursFridayStart" name="editDaycareHoursStart[]" placeholder="HH:mm">
                <input type="text" id="editDaycareHoursFridayEnd" name="editDaycareHoursEnd[]" placeholder="HH:mm">
            </div>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
    
    
    

    <% function getDayName(dayNumber) { %>
        <% const daysOfWeek = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi']; %>
        <%= daysOfWeek[dayNumber - 1] %>
    <% } %>
    
    <% function getChildSchedule(child, dayOfWeek) { %>
        <% const childSchedule = child.child_schedules.find(schedule => schedule.dayOfWeek === dayOfWeek); %>
        <% if (childSchedule) { %>
            <% const childHours = child.child_schedule_hours.find(hours => hours.dayOfWeek === dayOfWeek); %>
            <%= console.log('childHours:', childHours, 'dayOfWeek:', dayOfWeek) %>
            <% if (childHours) { %>
                <%= childHours.daycareHoursStart %> - <%= childHours.daycareHoursEnd %>
            <% } else { %>
                Horaires non définis pour le jour <%= dayOfWeek %>
            <% } %>
        <% } else { %>
            Horaires non définis pour le jour <%= dayOfWeek %>
        <% } %>
    <% } %>
    
    <% if (children.length > 0) { %>
        <% children.forEach((child) => { %>
            <div class="container_enfants">
                <div class="enfant-card" onmouseover="afficherBoutonSupprimer(this)" onmouseout="cacherBoutonSupprimer(this)">
                    <button class="btn-supprimer" onclick="deleteChild('<%= child.id %>')">Supprimer</button>
                    <h2><%= child.firstname %> <%= child.lastname %></h2>
                    <p>Âge : <%= child.age %> ans</p>
                    <% if (Array.isArray(child.child_schedules) && child.child_schedules.length > 0) { %>
                        <p>Jours et horaires de garde :</p>
                        <ul>
                            <% child.child_schedules.forEach(schedule => { %>
                                <li>
                                    Jour : <%= schedule.dayName %>,
                                    Horaire : <%= schedule.daycareHoursStart %> - <%= schedule.daycareHoursEnd %>
                                </li>
                            <% }); %>
                        </ul>
                    <% } else { %>
                        <p>Aucun horaire défini pour cet enfant.</p>
                    <% } %>
                    <button class="edit-icon" onclick="openEditChildForm('<%= child.id %>')">✏️</button>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="no-children">
            <p>Vous n'avez aucun enfant. Ajoutez des enfants en utilisant le bouton ci-dessus.</p>
        </div>
    <% } %>
    
    
    

</body>
</html>
